/********** Preview Component **********/

.preview-image {
  position: relative;
  width: 100%;
}

#text_top {
  z-index: 100;
  position: absolute;
  left: 110px;
  top: 10px;
  font-family: Impact;
  font-size: 50px;
  color: white;
}

#text_bottom {
  z-index: 100;
  position: absolute;
  left: 90px;
  bottom: 25px;
  font-family: Impact;
  font-size: 50px;
  color: white;
}

/********** DisplayAllMemesInRow Component **********/

.wrapper {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.image-tile {
  max-width: 200px;
}

.display-text-center {
  z-index: 100;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Impact;
}

#display-text-top {
  position: absolute;
  top: 80px;
  left: -20px;
  width: 100%;
}

#display-text-bottom {
  position: absolute;
  bottom: 20px;
  left: -20px;
  width: 100%;
}


.meme-container {
  position: relative;
}
